body {
    background: linear-gradient(90deg, #14a35e 0%, #485563 100%);
    padding-top: 50px;
  }
  
  
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    margin-bottom: 50px;
    color: #000000;
  }
  
  .photo-card {
    display: block;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
  }
  
  .info p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-form {
    width: 300px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  button {
    border: 1px solid;
    cursor: pointer;
    background: linear-gradient(118.38deg, #c1cbd6 -4.6%, #485563 200.44%);
    
    border: 2px solid #1c2229;
    color: #4507a9;
    text-decoration: none;
  }
  
  button:focus,
  button:hover {
    text-shadow: 1px 1px 3px #f8f6d4d0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  
  
  input {
    width: 100%;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
   
    border: 2px solid #1c2229;
    text-decoration: none;
  }
  
  .photo-img {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px;
  }
  .gallery a {
    margin: 15px;
    text-decoration: none;
    color: #180f02;
  
    background-color: #f7fafc;
    border-radius: 10px;
  }
  
  .gallery a:hover,
  .gallery a:focus {
    transform: scale(1.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .is-hidden {
    display: none;
  }